h2{
    color: green;
}

h1{
  font-family: sans-serif;
}

p{
  font-weight: 600px;
  font-size: 3em;
}

ul{
  font-style: oblique;
  line-height: 1.5em;
  text-align: right;
  text-decoration: line-through;
}

body{
    background-color: rgb(255, 400, 200);
    font-size: 16px;
}

#cor-favorita{
    color: red;
}