.super-mario {
  width: 200px;
  position: absolute;
  z-index: 3;
}

.goomba {
  width: 100px;
  position: absolute;
  z-index: 0;
  top: 300px;
}

.baloon {
    position: absolute;
    z-index: 2;
}

.speach {
  font-size: 25px;
  position: absolute;
  z-index: 3;
  top: 120px;
  left: 230px;
  color: black;
}

.bowser {
  width: 200px;
  position: relative;
  z-index: 1;
  top: 160px;
  left: 450px;
}
